---
layout: default
---
<article class="post">
  <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</p>
  <h2><b>{{ page.title }}</b></h2>

  <div class="post-content">
    {{ content }}
  </div>
  
  {% if page.tags %}
  <div class="post-tags">
    {% for tag in page.tags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}
</article>

<div class="newsletter-container">
  <p style="font-size: 14px; text-align: center; margin-bottom: 10px;">Subscribe to get future posts via email (or grab the <a href="/feed.xml">RSS feed</a>)</p>
  
  <form data-v-2164b4a9="" action="https://api.follow.it/subscription-form/Y1AvMENUNkxuL3gzekNmTmVidjBLYWNoOERZb25kaDM5a01nd0lsV09MUUx4NXpJQnVvbU52S3dmRWUrTTVZaE8xcXp6WkJZTi91MDFSZjU2aWwvT2tzVnZrb0VueUcrU1pVY2tCU01mVWVVcm5WOEovR1cxeldkUFZsbzVRVFp8dFBqenFiUWVyNk9jektndWZReUNxbDd3M1M2ejN5dWVOWmQrdmVuYmcwTT0=/8" method="post">
    <div data-v-2164b4a9="" class="input-group">
      <input data-v-2164b4a9="" type="email" name="email" placeholder="Type your email..." required="" spellcheck="false">
      <button data-v-2164b4a9="" type="submit">Subscribe</button>
    </div>
  </form>
</div>


<!-- Post navigation -->
<nav class="post-navigation">
  {% if page.previous.url %}
    <a class="prev-post" href="{{ page.previous.url | relative_url }}">
      ← {{ page.previous.title }}
    </a>
  {% endif %}
  {% if page.next.url %}
    <a class="next-post" href="{{ page.next.url | relative_url }}">
      {{ page.next.title }} →
    </a>
  {% endif %}
</nav>
